services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: next-ai-starter
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    restart: always
